*{
  padding: 0;
  margin: 0;
  border: 0;
}

.About{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  font-size: 1.4rem;
}

.links{
  display: flex;
  column-gap: 20px;
}

.link {
  color: blue;
}

.link a{
  text-decoration: none;
}

.link a:hover{
  text-decoration: underline;
}

.info-box {
  max-width: 400px;
  margin: 40px auto;
  padding: 25px;
  background: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.info-box h2, .info-box h1 {
  color: black;
}

.text{
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
}

.anime-page .two-boxes {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.anime-page .box {
  flex: 1;
  padding: 40px;
  background: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  text-align: center;
}

.anime-page .box img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

details {
  margin-top: 10px;
  cursor: pointer;
}

summary {
  font-weight: bold;
}